:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("istockphoto-935702298-612x612.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

#container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 75%;
}

#cards-container {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  padding: 1rem;
  gap: 0.5rem;
  background-color: lightcyan;
  width: 80%;
  justify-content: center;
}

#cards-container.visible{
  display: grid;
}

.card {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  cursor: pointer;
}

.cardContainer.flipped .card {
  transform: rotateY(180deg);
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-color: lightskyblue;
}

.front {
  background-color: #646cff;
  transform: rotateY(180deg);
  background-size: cover;
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

#botonNuevaPartida {
  cursor: pointer;
  z-index: 1;
  width: 50%;
  height: 50%;
  background-color: #747bff;
  color: #f9f9f9;
  font-weight: bolder;
  font-size: 3rem;
  border-radius: 5%;
  padding: 1rem 2rem;
  display: inline-block;
}

#botonNuevaPartida.botonNuevaPartida {
  display: none;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  position: relative;
  background-color: #646cff;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px;}
  to {top:0;}
}

.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 2px 16px;
  height: 2.5rem;
  background-color: lightskyblue;
  color: white;
}

.modal-body {padding: 2px 16px;
color: #f9f9f9;
display: flex;
flex-direction: column;
align-items: center;

}

.modal-footer {
  padding: 2px 16px;
  background-color: lightskyblue;
  color: white;
  height: 2.5rem;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 768px) {
  #cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
